ul.navbar-nav > li:last-child {
    /*background: yellowgreen;*/
}

.messagestrip {
    z-index:999;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    padding: 10px 15px;
    text-align: center;
    font-size: 13px;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.alert.messagestripsuccess {
    z-index:999;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    padding: 10px 15px;
    font-size: 13px;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert.messagestripwarning {
    z-index:999;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    padding: 10px 15px;
    font-size: 13px;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    background: #FCF8E3;
    color: #444;
}

.card {
    width: 100%;
    height: 235px;
}

.product-offer .gift-thumb .button-group button + a {
    width: 40%;
    border-left: 1px solid #ddd;
}

.gift-thumb .back {
    background: #fff none repeat scroll 0 0;
    padding : 1em;
    overflow: auto;
    text-align: left;
}

.gift-thumb {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: auto;
}

.gift-thumb .caption {
    text-align: center;
    padding: 0 20px;
    min-height: 3em;
    font-size: initial;
}

.gift-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.gift-thumb .image {
    display: block;
}    

.gift-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gift-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #eee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.gift-thumb .button-group button.giftbutton {
    width: 100%;
}

h2 i.fa-gift {
    font-size: 27px;
}

.oc2 h2 i.fa-gift {
    font-size: 27px;
}

.gift-thumb .button-group button + a {
    width: 40%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #eee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group button + a {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + a {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    #offerPopup .modal-dialog {
      width: 700px; /* New width for default modal */
    }
    #offerPopup .modal-sm {
      width: 350px; /* New width for small modal */
    }
}
@media screen and (min-width: 992px) {
    #offerPopup .modal-lg {
      width: 950px; /* New width for large modal */
    }
}
.addproducts,.getproducts {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    clear: both;
}

.plussign {
    text-align: center;
    height: 80px;
}

.plussign i{
    position: absolute;
    top: 38%;
    left: 0;
    bottom: 0;
    right: 0;
}


.buybtn-class{
 display: inline-block;
 border: none;
 color: #705D07;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: Arial;
 width: auto;
 height: auto;
 font-size: 14px;
 padding: 4px 15px;
 background-color: #FCE374;
}


.getbtn-class{
 display: inline-block;
 border: none;
 color: #FCE374;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: Arial;
 width: auto;
 height: auto;
 font-size: 14px;
 padding: 4px 15px;
 background-color: #705D07;
}
.availableofferblock {
    clear: both;
    display: block;
    height: auto;
    width: 100%;
        padding: 5px 10px;
    margin-bottom: 1em;
}
.offerblockproduct {
        background: #2F800A;
    padding: 0.5em;
    opacity: 0.6;
    zoom: 1;
    filter: alpha(opacity=60);
    position: absolute;
    top: -1.5em;
    left: 0px;
}
.offerblockvalue {
    font-weight: 700;
    color: white;
}

.offerheading {
    margin-bottom: 0.6em;
}

#content #tab-available_offers .col-lg-2:nth-child(6n+1), #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1) {
    clear: none;
}

.col-xxs-1 {
    width: 2.33333333%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xxs-4 {
    width: 33.333333%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
.col-xsm-1 {
    width: 2.33333333%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xsm-3 {
    width: 25%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
}

.offerhexagon {
    position: relative;
    width: auto;
    height: 30px;
    background-color: #74a93b;
    margin-bottom: 1.7em;
    max-width: 200px;
}
.offerhexagon:after {
    content:" ";
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.offerhexagon:after {
    left: 100%;
    border-left: 15px solid #74a93b;
}

.offerhexagon span {
    color: white;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 1em;
    line-height: 30px;
}

@media (min-width: 1200px) {
.col-xlg-2 {
    width: 16.66666667%;
    float: left;
     position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
}

.offer_header {
    width: 100%;
    height: 32px;
}
.availableoffer_header {
    font-size: 16px!important;
    color: #FFF!important;
    background: #C45500;
    max-width: 90%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 5px;
    overflow: hidden;
    float: left;
}

.availableoffer_headerafter {
    border-right: 16px solid transparent;
    border-top: 32px solid #C45500;
    float: left;
}

.availableofferblock .btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    /*background-color: #229ac8;*/
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}

.availableofferblock .btn-primary:hover {
    color: #fff;
/*
    background-color: #286090;
    border-color: #204d74;
*/
    text-decoration: none;
}

.availableofferblock .btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
